.ab {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: space-between; /* Align items to opposite ends */
    align-items: center; /* Ensure vertical alignment */
    position: relative; /* Container for absolute positioning if needed */
  }
  
  .messageItem {
    border: 2px dashed whitesmoke;
    border-radius: 30px;
    padding: 10px; /* Add some padding for better spacing */
    position: relative; /* Ensure child elements are positioned relative to this container */
  }
  
  span {
    font-size: 10px;
    margin: 0; /* Remove default margins */
  }
  
  .displayName {
    font-size: 10px;
    font-weight: bold; /* Emphasize displayName */
    margin: 0; /* Remove default margins */
  }
  